<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
  </head>
  <body>
    <h1>add Address <h1>

  <form method = "post" action="./address/add">
    <label for="_addressLine1">add Address line 1</label>
    <input type="text" name="_addressLine1"/>

    <label for="_addressLine2">Edit Address line 2</label>
    <input type="text" name="_addressLine2"/>

    <label for="_addressLine3">Party name</label>
    <input type="text" name="_addressLine3"/>

    <label for="_city">city name</label>
    <input type="text" name="_city"/>

    <label for="_county">County name</label>
    <input type="text" name="_county"/>

    <label for="_postcode">County name</label>
    <input type="text" name="_postcode"/>
    
    <button>update</button>
  </form>
</div>
</html>
