<!DOCTYPE html>
<html>
  <head>
    <title>eVoting</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add ballot page</h1>
    <p></p>
    <div class='ballotDetails'>
      <form method = "post" action="/ballot/add">
        <label for="_candidates">Add Candidates</label>
        <input type="text" name="_candidates"/>
        <button>update</button>
      </div>
    </form>
  </body>
</html>
