<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <p><%=title></p>
    <div class='ballotDetails'>
      <form method = "post" action="/users/login">
        <label for="ballotName">Add Ballot Name</label>
        <input type="text" name="ballotName" id="ballotName"/>
        <label for="addCandidate">Add Candidate </label>
        <input type="text" name="candidate" id="candidate"/>
        <button>Login</button>
      </div>
    </form>
  </body>
</html>
