<!DOCTYPE html>
<html>
  <head>
    <title>Add Constituency</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add Constituency</h1>
      <%
        console.log(err);
        if(err[0]){
          err.forEach(function(error){
            %><div class="error"><%=error.msg%></div><%
          });
        }
      %>

<div class='constituencyDetails'>
  <form method = "post" action="/admin/constituency/add">
    <label for="name">Name</label>
    <input type="text" name="name" id="name"/>
    <label for="candidates">Candidates</label>
    <%candidates.forEach(function(candidate){%>
        <label for="<%=candidate._id%>"><%=candidate._firstName + " " + candidate._surname%></label>
        <input type="checkbox" name="<%=candidate._id%>">
    <%});%>
    
    <button type='submit'>Add</button>
  </div>
  </form>
</div>
</html>
