<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
  </head>
  <body>
    <h1>add Constituency <h1>

  <form method = "post" action="./constituency/add">
    <form-group>
<label> Constituency Name: </label>
<input type='text')>
    </form-group>

  </form>

</div>
</html>
