<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
  </head>
  <body>
    <h1>add candidate <h1>

  <form method = "post" action="./candidate/add">
    <label for="_firstName">add Candidate first name</label>
    <input type="text" name="_firstName"/>
    <label for="_surname">Edit Candidates Surname</label>
    <input type="text" name="_surname"/>
    <label for="_party">Party name</label>
    <input type="text" name="_party"/>
    <label for="_address">address name</label>
    <input type="text" name="_address"/>
  </form>
</div>
</html>
