<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
  </head>
  <body>
    <h1>add Constituency <h1>

  <form method = "post" action="./constituency/add">
    <label for="constituency">add Constituency</label>
    <input type="text" name="constituency"/>
    <label for="candidates">Edit Candidates Surname</label>
    <input type="text" name="candidates"/>
    <label for="constituencyId">Constituency ID</label>
    <input type="hidden" name="constituencyId"/>

    <button>update</button>
    
  </form>
</div>
</html>
