<!DOCTYPE html>
<html>
  <head>
    <title>Add Party</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>add Election <h1>
    
      <%
        console.log(err);
        if(err[0]){
          err.forEach(function(error){
            %><div class="error"><%=error.msg%></div><%
          });
        }
      %>
<div class='electionDetails'>
  <form method = "post" action="/admin/election/add">
    <label for="name">Name</label>
    <input type="text" name="name" id="name"/>
    <label for="startDate">Start Date</label>
    <input type="text" name="startDate" id="startDate"/>
    <label for="endDate">End Date</label>
    <input type="text" name="endDate" id="endDate"/>
    <label for="constituencies">Constituencies</label>
    <%constituencies.forEach(function(constituency){%>
      <label for="<%=constituency._id%>"><%=constituency._name%></label>
      <input type="checkbox" name="<%=constituency._id%>">
    <%});%>
    <button type='submit'>Add</button>
  </form>
</div>
</html>
