<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method = "get" action="/users/logout">
      <button>Logout</button>
    </form>
    <h1>Admin</h1>
     <%
        console.log(err);
        if(err[0]){
          err.forEach(function(error){
            %><div class="error"><%=error.msg%></div><%
          });
        }
      %>
    <div class='adminContent'>
        <div class='buttonGroup'>
          <h2>Parties</h2>
          <a href='/admin/party/'>View/Edit</a>
          <a href='/admin/party/add'>Create</a>
        </div>
        <div class='buttonGroup'>
          <h2>Address</h2>
          <a href='/admin/address/'>View/Edit</a>
          <a href='/admin/address/add'>Create</a>
        </div>
        <div class='buttonGroup'>
          <h2>Candidates</h2>
          <a href='/admin/candidate/'>View/Edit</a>
          <a href='/admin/candidate/add'>Create</a>
        </div>
        <div class='buttonGroup'>
          <h2>Constituency</h2>
          <a href='/admin/constituency/'>View/Edit</a>
          <a href='/admin/constituency/add'>Create</a>
        </div>
        <div class='buttonGroup'>
          <h2>Election</h2>
          <a href='/admin/election/'>View/Edit</a>
          <a href='/admin/election/add'>Create</a>
        </div>
        <div class='buttonGroup'>
          <h2>Voters</h2>
          <a href='/admin/voter/'>View/Edit</a>
          <a href='/admin/voter/add'>Create</a>
        </div>
        <div class='buttonGroup'>
          <h2>Results</h2>
          <a href='/admin/Results/'>View</a>
        </div>
    </div>
  </body>
</html>
