<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Admin</h1>
    <div class='adminContent'>
        <div class='buttonGroup'>
          <h2>Parties</h2>
          <a href='/admin/party/'>View/Edit</a>
          <a href='/admin/party/add'>Create</a>
        </div>
        <div class='buttonGroup'>
          <h2>Address</h2>
          <a href='/admin/address/'>View/Edit</a>
          <a href='/admin/address/add'>Create</a>
        </div>
        <div class='buttonGroup'>
          <h2>Candidates</h2>
          <a href='/admin/candidates/'>View/Edit</a>
          <a href='/admin/candidates/add'>Create</a>
        </div>
        <div class='buttonGroup'>
          <h2>Constituency</h2>
          <a href='/admin/constituency/'>View/Edit</a>
          <a href='/admin/constituency/add'>Create</a>
        </div>
        <div class='buttonGroup'>
          <h2>Election</h2>
          <a href='/admin/election/'>View/Edit</a>
          <a href='/admin/election/add'>Create</a>
        </div>
    </div>
  </body>
</html>
