<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Parties</h1>
    <p><%=title></p>
    <div class='ballotDetails'>
      <form method = "post" action="/users/login">
        <label for="email">Email</label>
        <input type="text" name="firstname" id="email"/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"/>
        <button>Login</button>
      </div>
    </form>
  </body>
</html>
