<!DOCTYPE html>
<html>
  <head>
    <title>Edit Constituency</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>edit Constituency</h1>
    <p><%=title></p>
    <div class='ConstituencyDetails'>
      <form method = "post" action="/routes/Constituency">
        <label for="ConstituencyName">Edit Constituency</label>
        <input type="text" name="constituency" value= "<%=constituency._name%>"/>
        <label for="candidates">Edit Candidates Surname</label>
        <input type="text" name="surname" value="<%ballot._surname%"/>
        <label for="candidates">Constituency ID</label>
        <input type="hidden" name="constituencyId" value = "<%ballot._constituencyId%"/>
        <button>Update</button>
      </div>
    </form>
  </body>
</html>
