<!DOCTYPE html>
<html>
  <head>
    <title>Edit party</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Parties</h1>
    <div class='partiesDetails'>
      <%parties.forEach(function(party){%>
        <h2><%=party._name%></h2>
        <form method = "post" action="/admin/party/edit">
          <input type="hidden"  readonly name="partyId" id="partyId" value='<%=party._id%>'/>
          <label for="partyName">Party Name</label>
          <input type="text" name="partyName" id="partyName" value='<%=party._name%>'/>
          <label for="partyColour">Party Colour</label>
          <input type="text" name="partyColour" id="partyColour" value='<%=party._partyColour%>'/>
          <button type='submit'>Update</button>
          <button type='submit' formaction="/admin/party/remove">Remove</button>
        </form>
        <%});%>
  </body>
</html>
