<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <p>Welcome to Electronic Voting</p>
    <%
      console.log(err);
      if(err[0]){
        err.forEach(function(error){
          %><div class="error"><%=error.msg%></div><%
        });
      }
      if(loginError){
        %><div class="error"><%=loginError%></div><%
      }
    %>
    <div class='loginDetails'>
      <form method = "post" action="/users/login">
        <label for="email">Email</label>
      <input type="text" name="email" id="email"/>
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
      <button>Login</button>
      <button type="submit" formmethod = "post" formaction="/users/requestPasswordReset">Reset Password</button>
      </div>
    </form>
  </body>
</html>
