<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Password Reset</h1>
    <%
      console.log(err);
      if(err[0]){
        err.forEach(function(error){
          %><div class="error"><%=error.msg%></div><%
        });
      }%>
  <div class='addressDetails'>
  <form method = "post" action="/users/passwordReset">
    <input type="hidden" id="voterId" name="voterId" value="<%=voter._id%>"/>
    <label for="newPassword">New Password</label>
    <input type="text" name="newPassword" id="newPassword"/>
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" name="confirmPassword" id="confirmPassword"/>

    <button type='submit'>Change Password</button>
  </form>
  </div>
</div>
</html>
