<!DOCTYPE html>
<html>
  <head>
    <title>Election Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="/javascript/results.js"></script>
  </head>
  <body>
    <a href="/admin">Back</a>
    <h1>Results</h1>
    <div class='ResultsDetails'>
      <%elections.forEach(function(election){
      console.log(election);%>
        <h2><%=election._electionName%></h2>
        <canvas id="<%=election._id%>" width="400" height="400"></canvas>
      <%});%>
    </body>
    <script type="text/javascript">
     <%elections.forEach(function(election){%>
       var electionJSON = <%-JSON.stringify(election)%>;
       configureChart(electionJSON);
      
    <%});%>
    </script>
  </html>
