<html>
    <head>
            <script src="https://code.jquery.com/jquery-3.3.1.js" 
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" 
            crossorigin="anonymous">   </script>
    </head>
    <body>
        <p>
            <%=msg%>
        </p>
            <form method = "get" action="/users/logout">
                <button>Logout</button>
            </form>
            <button  id="returnProx" href="./proxy" name="returnProx">Return to proxy menu</button>
            
        <script>
            $('document').ready(function(){
                var href = window.location.href;
                if(     href.indexOf("proxy") == -1 ){
                    $('#returnProx').hide();
                }
                if(     href.indexOf("voted") >= 0 ){
                    $('#returnProx').hide();
                }
            });

            $('#returnProx').click(function(){
                window.location.replace("/proxy");
            });
        </script>
    </body>
</html>