body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #2e282a;
}

a {
  text-decoration: none;
}

.buttonGroup{
	padding-left:2%;
}a,button{
	padding:10px;
	background-color: #2e282a;
	transition: background 0.2s;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	border:0;
	border: 1px solid #ddd;
}
a:hover,button:hover{
	background-color: #5E585A;
	transition: background 0.2s;
}
form{
	display: inline-block;
	width:25%;
	text-align: left;
}

form input,form select, form label{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	width:100%;
	float:left;
	vertical-align: middle;
	
	background-color: #fff;
}
form input[type="checkbox"]{
	width:10px;
	margin:10px;
}
form input,form select{
	border: 1px solid #ddd;
	padding: 10px;
	margin: 5px 10px 5px 0;
}


/* Add some margins for each label */
form label {
  margin: 5px 10px 5px 0;
  font-weight: bold;
}

form button{
	float:left;
}
.postcodeGroup label,.postcodeGroup input{
	width:100%;
	margin:auto;
}



/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  form input {
    margin: 10px 0;
  }

  form {
    flex-direction: column;
    align-items: stretch;
  }
} 

